{% extends 'layout.html.twig' %}

{% block title %}Mate index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card mb-5">
            <h1 class="titleLogin text-center m-5">L'équipe</h1>
            <table class="table">
                <div class="row">
                    <div class="col">
                        <a href="{{ path('mate_new') }}">Créer</a>
                    </div>
                </div>
                <tbody>
                {% for mate in mates %}
                    <tr>
                        <td>{{ mate.id }}</td>
                        <td>{{ mate.name }}</td>
                        <td>{{ mate.description }}</td>
                        <td>{{ mate.picture }}</td>
                        <td>
                            <a href="{{ path('mate_show', {'id': mate.id}) }}">Voir</a>
                            <a href="{{ path('mate_edit', {'id': mate.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>

    </div>

{% endblock %}
