{% extends 'layout.html.twig' %}

{% block title %}Tour{% endblock %}

{% block body %}
    <div class="card">
        <h1>Tour</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tour.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ tour.city }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ tour.price }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{{ tour.start ? tour.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_end</th>
                <td>{{ tour.end ? tour.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('tour_index') }}">back to list</a>

        <a href="{{ path('tour_edit', {'id': tour.id}) }}">edit</a>

        {{ include('tour/_delete_form.html.twig') }}
    </div>

{% endblock %}
